<mat-accordion multi="true" class="panel">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" class="panel">

    <mat-expansion-panel-header>
      <img src="../../../assets/img/trolleybus.png">
      <h3>{{data?.id}}</h3>
    </mat-expansion-panel-header>

    <h3>Name</h3>
    <p>{{data?.name}}</p>

    <h3>People</h3>
    <p>{{bus?.people}}/{{data?.capacity}}</p>


    <h3>Doors open</h3>
    <div *ngIf="bus?.open === false"><img class="doorStatus" src="../../../assets/img/red.png"></div>
    <div *ngIf="bus?.open === true"><img class="doorStatus" src="../../../assets/img/green.png"></div>

    <h3>Latitude</h3>
    <p>{{pos?.lat}}</p>

    <h3>Longitude</h3>
    <p>{{pos?.lon}}</p>


  </mat-expansion-panel>
</mat-accordion>
