<mat-accordion multi="true" *ngIf="buses.length > 0" class="panel">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" class="panel" *ngFor="let bus of buses">

    <mat-expansion-panel-header>
      <img src="../../../assets/img/trolleybus.png">
      <h3>{{bus.id}}</h3>
    </mat-expansion-panel-header>

    <h3>Name</h3>
    <p>{{bus.name}}</p>

    <h3>People</h3>
    <p>{{bus.people}}/{{bus.capacity}}</p>


    <h3>Doors open</h3>
    <div *ngIf="bus.open === false"><img class="doorStatus" src="../../../assets/img/red.png"></div>
    <div *ngIf="bus.open === true"><img class="doorStatus" src="../../../assets/img/green.png"></div>

    <h3>Latitude</h3>
    <p>{{bus.lat}}</p>

    <h3>Longitude</h3>
    <p>{{bus.lon}}</p>


  </mat-expansion-panel>
</mat-accordion>
