<mat-accordion multi="true" class="panel">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" class="panel">
    <mat-expansion-panel-header>
      <img src="../../../assets/img/belt.svg" />

      <h3> BELT N. {{ data?.id }}</h3>
    </mat-expansion-panel-header>


    <div *ngIf="power.consume<60">
      <h3>Power</h3>
      <p>{{power?.consume}} WATT </p>
    </div>

    <div *ngIf="power.consume>60" style="background-color: orangered">
      <h3 style=" color:white">Power</h3>
      <p style="color:white">{{power?.consume}} WATT</p>
    </div>


    <div *ngIf="rate.vel<60">
      <h3>Rate</h3>
      <p>{{ rate?.vel }} mt/min </p>
    </div>


    <div *ngIf="rate.vel>60" style="background-color: yellow">
      <h3 style=" color:blue">Rate</h3>
      <p style="color:blue">{{ rate?.vel }} mt/min</p>
    </div>


  </mat-expansion-panel>
</mat-accordion>